#wrapper
{
    width: 1060px;
    margin: 0 auto;
}
/* CREATION DU LOGO ET DISPOSITION DU HEADER */
header
{
    /*height: 100px;
    float: left;*/
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 140px;
}
.logo
{
    margin-top: 17px;
}
h1
{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 50px;
    float:left;
}
h2 .logo_top
{
    font-family: 'Oswald', sans-serif;
    margin-top: -41px;
    color: #785626;
    float: left;
    text-decoration: none;
}

/* NAVIGATION */
nav
{
    /* float: right; */
    font-family: 'Oswald', sans-serif;
    margin: -75px;
    /* margin-right: 0px; */
    font-size: 20px;
    color: #000;
    position: absolute;
    padding-left: 447px;
}
.first
{
    color: #be5216 !important;
}
nav ul
{
    list-style: none;
}
nav li
{
    float: left;
    padding: 0 25px 5px 10px;
}
nav ul li:hover ul 
{
    display: block;
    
}
nav ul li ul li 
{
    display: block;
    padding: 5px 5px 5px 0px;
    clear: both;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    margin-left: -48px;
    
}
.ex_nav
{
    padding-left: 16px;
    color: #fee3ac;
}
nav ul li ul 
{
    display: none;   
}
nav li a
{
    text-decoration: none;
    color: #000;
}
nav li a:hover
{
    color: #be4f05;
}

/*IMAGE FULL PAGE*/
.full_slide
{
    margin-top: 30px;
}

/* PREMIER TITRE ENTOURER 2 DE BARRES */
h3 {
    padding:1em 0;
    text-align:center;
    overflow:hidden;
    font-size:26px;
    font-family: 'Oswald', sans-serif;
}
h3:before, h3:after {
    content:'';
    width:12em;
    border-bottom:1px solid;
    display:inline-block;
    vertical-align:middle;
    color: #785626;
}
h3:before
{
    margin-right: 7px;    
}
h3:after
{
    margin-left: 7px;
}

/* MISE EN PLACE DES IMAGES DANS LES PREMIERES COLONNES */
.container {
    position: relative !important;
    margin-bottom: 15px;

}
.image {
    display: block;
    width: 100%;
    height: auto;
}
/*.img-fix{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}*/
.text {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.txt-fix{
    background-color: #190f06;
    padding: 10px 20px;
}
/* animation de haut en bas*/
.overlay-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
.container:hover .overlay-top, .container:hover .overlay-bottom  {
    bottom: 0px;
    height: 100%;
}
/* animation de bas en haut */
.overlay-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
/* de droit à gauche */
.overlay-right{
    bottom: 0;
   /* left: 0;
    right: 100%; !* va de gauche à droite*!*/
    left: 100%;
    right:0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 0;
    height:100%;
    transition: .5s ease;
}
.container:hover .overlay-right{
    width: 100%;
    left: 0; /* sinon va commencer à l image fin à droite */
}

/* de gauche à droite */
.overlay-left{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 0;
    height:100%;
    transition: .5s ease;
    bottom: 0;
    left: 0;
    right: 100%;
}
.container:hover .overlay-left{
    width: 100%;
    right: 0;
}
.overlay-fix{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: .5s ease;

}
.container:hover .overlay-fix{
    opacity: 1;

}

/* DEUXIEME TITRE ENTOURER 2 DE BARRES */
h4 {
    padding:1em 0;
    text-align:center;
    overflow:hidden;
    font-size:26px;
    font-family: 'Oswald', sans-serif;
}
h4:before, h4:after {
    content:'';
    width:10.7em;
    border-bottom:1px solid;
    display:inline-block;
    vertical-align:middle;
    color: #785626;
}
h4:before
{
    margin-right: 1em;    
}
h4:after
{
    margin-left: 1em;
}

/* DEUXIEME PARTIE EN COLONNES */
/* COLONNE UN */
span
{
    font-weight:bold;
    font-size: 45px;
    font-family: 'Oswald',  sans-serif;
    float: left;
    margin: -16px 6px 0 3px;
}
.txt_one
{
    margin-top: 0;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 17px;
    padding: 0 66px 15px 0;
}

/* COLONNES DEUX */
.txt_two
{
    margin-top: 0;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 18px;
    padding-right: 31px;
    /*float: left;*/
}

/*TITRES DES COLONNES TROIS ET QUATRE*/
h5
{
    font-family: 'Oswald',  sans-serif;
    font-size: 18px;
    margin-top: 0;
}
h5:after
{
    content:'';
    width:9em;
    border-bottom:3px solid;
    display:inline-block;
    vertical-align:middle;
    color: #785626;
}
h5:after
{
    margin-left: 1em;
    color: #ffe3a7;

}

/* COLONNE TROIS */
.txt_three
{
    font-family: 'Josefin Slab', sans-serif;
    padding: 0px 111px 0px 1px;
    font-size: 18px;
    margin-top: -84px;
}
.txt_three_two
{
    margin-top: -15px;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 18px;
}
.test
{
    padding-left: 7.4em;
}

/* COLONNE QUATRE / CONTACT_BOX */

/* FORMULAIRE DE CONTACT */
#contact_form
{
    margin-top: -5px;
    width: 250px;
    margin-left: -40px;
}
#contact_form ul
{
    margin: 0;
}

#contact_form li
{
    float: left;
    margin-left: 0;
    margin-bottom: 10px;
    position: relative;
    height: 30px;
    color: #666;
    font-size: 18px;
    list-style-type: none;
    text-shadow: 0 1px 0 #FFF;
    font-family: 'Josefin Slab', sans-serif;
}

#contact form label
{
    display: block;
    height: 23px;
}

#contact_form li.textarea
{
    height: 85px;
}

#contact_form li.button_form
{
    float:left;
    margin-bottom: 8px;
    position: relative;
    height: 20px;
    list-style-type: none;
}

#contact_form input,textarea
{
    width: 250px;
    margin-bottom: 4px;
    color: #666;
    border: 1.2px solid #C85302;

}
#contact_form textarea
{
    height: 65px;
    width: 239px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 6px;
    margin-bottom: 15px;
    border: 1px solid #c85303;
}

#contact_form input.submit
{
    margin: 20px 10px 0 0;
    float: left;
    width: 100px;
    height: 30px;
    padding: 4px 0 6px;
    background: #c85303 repeat;
    color: #fff;
    line-height: 1;
    text-align: center;
    font-family: 'Oswald',  sans-serif;
    font-size: 11px;
}
#contact_form input.submit:hover
{
    text-shadow: 0 1px 1px #555;
    color: #000000 !important;
    background: #dba581;

}

/* FOOTER */
footer
{
    width: 1060px;
    background-color: #c85303;
    margin: 0 auto;
    height: 70px;
    margin-top: 60px;
}
.copyright
{
    text-align: center;
    padding-top: 13px;
    color: #fff
}
footer .copyright a
{
    text-decoration: none;
    color: #fff;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 18px;
}

/* AUTRES */
/*DIV CLEAR POUR GERER LES FLOAT*/
.clear
{
    clear: both;
}

/*COLONNES*/
/*CREATION DES REGLES DE BASES DES COLONNES*/
.col{
    float: left;
    margin-right: 20px;
    display: grid;
}
/*COLONNES DE LA PREMIERE PARTIE*/
.col-3-12{
    width: 250px;
    margin-top: -25px;
}

/* COLONNES DE LA DEUXIEME PARTIE */
.col-4-12{
    width: 340px;
}

/* REGLE D'ANNULATION DE LA DERNIERE GOUTTIERE */
.last{
    margin-right: 0 !important;
}

@media screen and (max-width: 768px)
{
    #wrapper
    {
        width: 100%;
    }
    nav
    {
    font-family: 'Oswald', sans-serif;
    margin: -62px;
    font-size: 14px;
    color: #000;
    position: absolute;
    padding-left: 21em;
    }
    nav li 
    {
    float: left;
    padding: 0px 15px 5px 10px;
    }
    nav ul li ul li
    {
        width: 70px;
    }
    .full_slide
    {
        width: 100%;
        margin-top: 20px;
    }
    h3
    {
        font-size: 17px;    
    }
    .h3:before, h3:after
    {
        content: '';
        width: 12em;
        border-bottom: 1px solid;
        display: inline-block;
        vertical-align: middle;
        color: #785626;
    }
    h3:before
    {
    margin-right: 7px;
    }
    h3:after {
    margin-left: 7px;
    }
    .container:hover .overlay-right
    {
        width: 100%;
        left: 50%;
    }
    .col
    {
        float: left;
    }
    .col-4-12
    {
        width: 44.27083%;
    }
    .image
    {
        margin-left: 30px;
    }
    .place
    {
        margin-left: -136px;
    }
    .place_l
    {
        margin-left: 31px;
    }
    .col-3-12
    {
        /*width: 32.55208%;
        float: none;
        margin: 20px;*/

        width: 32.07547%;
        margin-right: 1.88679%;
        margin-top: 10px;
        margin-bottom: 14px;
    }
    .last_768
    {
       margin-right: 0 !important; 
    }
    .img_mid
    {
      left: 24%;  
    }
    h4
    {
        font-size: 17px;
    }
    span
    {
        font-size: 40px;
    }
    .txt_one
    {
        font-size: 14px;
        margin-right: -4px;
        margin-bottom: -1px;
        margin-left: 24px;
    }
    .txt_two
    {
        font-size: 16px;
        padding-right: 56px;
        /* float: left; */
        margin-right: 3px;
    }
    .box_one
    {
        position: relative;
        left: 22%;
    }
    .box_two
    {
        position: relative;
        right: 12%; /* GOOGLE CHROME */
        /*right: -21%; FIREFOX */
    }
    h5
    {
        font-size: 17px;
    }
    .txt_three
    {
        padding: 0px 140px 0px 1px;
        font-size: 14px;
        margin-top: -83px;
    }
    .txt_three_two
    {
        font-size: 14px;
        margin-top: -5px;
    }
    .test
    {
        padding-left: 5em;
    }
    #contact_form textarea
    {
        width: 218px;
    }
    #contact_form input, textarea
    {
        width: 230px;
    }
    footer
    {
        width: 100%;
    }
}


@media screen and (max-width: 480px)
{
    #wrapper
    {
        width: 100%;
    }
    .logo
    {
        margin-top: 37px;
    }
    h1
    {
        font-size: 30px;
    }
    h2 .logo_top
    {
        margin-top: -33px;
        font-size: 15px;
    }
    nav
    {
        margin: -45px;
        font-size: 9px;
        padding-left: 14em;
    }
    nav ul li ul li
    {
        width: 42px;
    }
    .full_slide
    {
        width: 100%;
        margin-top: 13px;
    }
    h3
    {
        font-size: 11px;
    }
    .image
    {
        margin-left: 18px;
    }
    .place_l
    {
        margin-left: 19px;
    }
    .place
    {
        margin-left: -83px;
    }
    .text
    {
        font-size: 15px;
        top: 40%;
    }
    h4
    {
        font-size: 11px;
    }
}




