/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
@import url('https://font.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900,');

/*GENERALE*/

/*header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13182c;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
}*/
body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: #060c21;
    /*width: 100%;
    margin: auto;
    min-width: 600px;
    max-width: 2000px;*/
}

footer{
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #13182c;
    box-shadow: 20px 20px 20px 20px rgba(0,0,0,.5);
    font-family: 'Poppins', sans-serif;
}
.clear{
    clear: both;
}

header
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #13182c;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    font-family: 'Poppins', sans-serif;
}
.home_title
{
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}
.logo
{
    color: #fff;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}
nav
{
    float: right;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 17px;
    text-decoration: none;
    color: #FFFFFF;
}
nav ul li a.active,
nav ul li a:hover
{
    background: #2F4F4F;
    color: #fff;
    transform: 0,5s;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #2F4F4F;
    }
    .menu-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li a
    {
        margin: 0 auto;
        text-align: center;
    }
}
/*HOME*/

.container-home{
    position: absolute;
    top: 20%;
    left: 14%;
    width: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 35px;
    font-family: 'Poppins', sans-serif;
}
.container-home .box-home{
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.container-home .box-home:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}
.container-home .box-home:nth-child(1):before{
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
.container-home .box-home:nth-child(2):before{
    background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.container-home .box-home:nth-child(3):before{
    background: linear-gradient(315deg,#e91e63,#5d02ff);
}
.container-home .box-home:nth-child(4):before{
    background: linear-gradient(315deg,#ff0000,#ffc107);
}
.container-home .box-home:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
.content-home{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}
.box-home .content-home h2{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}
.box-home:hover .content-home h2{
    top: -140px;

}
.box-home .content-home h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.box-home .content-home p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.box-home .content-home a{
    position: relative;
    margin: 16px 0 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box-home:hover .content-home a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box-home .content-home a:hover{
    color: #000;
    background: #fff;
}
.txt-home{
    position: absolute;
    top: 71%;
    left: 20%;
    display: flex;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.eng-home{
    margin-right: 28px;
    background-color: #13182c;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    padding: 20px;
    width: 507px;
}
.fr-home{
    margin-right: 65px;
    background-color: #13182c;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    padding: 20px;
    width: 507px;
}
/*Présentation*/
.first-sec{
    margin-top: 100px;
    color: white;

}
section{
    font-family: 'Poppins', sans-serif;
}
.pic-pr
{
    position: absolute;
    top: 29%;
    left: 56.8%;
    width: 450px;
    height: 430px;
    border: 10px solid;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
}
.left-pr {
    position: absolute;
    top: 29%;
    left: 18.7%;
    width: 450px;
    text-align: center;
    background-color: #13182c;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .5);
    padding: 20px;
    font-size: 15px;
    /*float: left;
    margin-left: 24em;
    display: block;
    justify-content: center;
    margin-top: 110px;*/
}
/*.right-pr{
    float: right;
    display: block;
    width: 450px;
    margin-right: 112px;
    /*margin-top: 27px;
}*/

.log-sr{
    /*margin: 0 70px;*/
    width: 70px;
    height: 70px;
}
.star-sr{
    /*margin: 0 70px;*/
    width: 50px;
    height: 50px;
}
.left-sr{
    float: left;
    margin-top: 170px;
    margin-left: 230px;
}
.right-sr{
    float: right;
    margin-top: 170px;
    margin-right: 230px;
}
.lign-sr{
    background-color: #13182c;
    padding: 15px;
}
.footext{
    margin-left: 1em;
}


/*.contact-form{
    background-color: #13182c;
    margin-top: 170px;
    margin-left: 300px;
}*/
.required{
    color: #fff;
    background-color: #13182c;
}
.row{
    background-color: #13182c;
}
/*.social_media{
    color: white;
    text-align: center;
    justify-content: center;
}*/
.one{
    float: left;
    display: inline-block;
    padding-top: 8px;
    padding-left: 8%;
    padding-right: 5%;
    background-color: #13182c;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
}


.wrapper
{
    /*max-width: 2000px;*/
    width: 2000px;
    /*width: 100%;
    max-width: 2000px;
    height: auto;
    margin: 0 auto;*/

}
.center
{
    width: 40%;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #13182c;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
/*.skill_title
{
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.skillbox
{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}
.skillbox p
{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}
.skillbox p:nth-child(2)
{
    float: right;
    position: relative;
    top: -25px;
}
.skill
{
    background: #262626;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #0fffb7;
    border-radius: 2px;
}
.skill_level
{
    background: #0fffb7;
    width: 100%;
    height: 10px;

}*/
.pic
{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 27%;
}
.pic_1
{
    left: 4%;
}
.pic_2
{
    left: 19.5%;
}
.pic_3
{
    left: 35%;
}
.pic_4
{
    left: 66%;
}
.pic_5
{
    left: 81.5%;
}
.pic_6
{
    left: 50.5%;
}
.work_txt
{
    color: white;
    position: absolute;
    top: 42%;
    left: 29%;
    background-color: #13182c;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, .5);
    width: 800px;
    height: 167px;
    text-align: center;
    padding: 30px;
}
.link-work
{
    color: #fff;
    font-size: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #A9A9A9;
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #A9A9A9;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #fff;

    color: #000;

    padding: 12px 20px;

    border: none;

    border-radius: 4px;

    cursor: pointer;
}
input[type="reset"] {
    background-color: #fff;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=reset]:hover {
    background-color: #45a049;
}
/* Add a background color and some padding around the form */
.contact_form {
    position: absolute;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #13182c;
    padding: 20px;
    width: 85%;
    top: 25%;
    left: 6.5%;
}
label
{
    color: #fff;
}

.col
{
    float: left;
}
.col-6-12
{
    width: 50%;
}
.skill
{
    position: absolute;
    top: 35%;
    left: 17.5%;
    width: 450px;
    text-align: center;
    background-color: #13182c;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .5);
    padding: 20px;
    font-size: 15px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.img_skill
{
    position: absolute;
    top: 35%;
    left: 55%;
    width: 450px;
    height: 430px;
    border: 10px solid;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    color: #FFFFFF;
}


