@font-face {
    font-family: 'seaside_resort_nfregular';
    src: url('fonts/SeasideResortNF-webfont.eot');
    src: url('fonts/SeasideResortNF-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/SeasideResortNF-webfont.woff2') format('woff2'),
    url('fonts/SeasideResortNF-webfont.woff') format('woff'),
    url('fonts/SeasideResortNF-webfont.ttf') format('truetype'),
    url('fonts/SeasideResortNF-webfont.svg#seaside_resort_nfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bazarmedium';
    src: url('fonts/Bazar-webfont.eot');
    src: url('fonts/Bazar-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Bazar-webfont.woff2') format('woff2'),
    url('fonts/Bazar-webfont.woff') format('woff'),
    url('fonts/Bazar-webfont.ttf') format('truetype'),
    url('fonts/Bazar-webfont.svg#bazarmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: url(images/body_bg.png);
    height: 130px;
    padding: 0;
    position: fixed;
    width: 100%;
}
.content
{
    width: 950px;
    margin: auto;
}
nav {
	margin: 0;
	text-align: center; /* centrer le texte */
    height: 130px;
}
nav li {
	display: inline;
	list-style: none;
}
nav a {
	display:inline-block;
	margin: 0 10px;
    text-decoration: none;
    font-family: 'bazarmedium';
    font-size: 26px;
    color: #e8e2cc;
}
nav ul li a:hover
{
    color: #a4eacb;
}
.logo_head
{
    margin: 0;
    position: absolute;
    left: 46%;
    margin-top: -14px;
}
.left_nav
{
    padding-right: 428px;
    padding-top: 65px;
}
.right_nav
{
    padding-left: 430px;
    margin-top: -29px;
}
.blue
{
    background-image: url("images/home_top_1_bg.jpg");
    margin-top: -22px;
    height: 784px;
}
.blue_title
{
    text-align: center;
    margin-top: 2%;
    padding-top: 21%;
    font-family: 'seaside_resort_nfregular';
    font-size: 75px;
    padding-left: 47px;
    color: #f7eace;
}
.blue_pic
{
    margin-left: 14%;
    width: 738px;
    margin-top: -5%;
}
.left_blue
{
    text-align: center;
    font-family: 'bazarmedium';
    font-size: 42px;
    color: #f6edd8;
    margin-left: -2%;
    margin-top: 3%;
}
.right_blue
{
    text-align: center;
    font-family: 'bazarmedium';
    font-size: 26px;
    color: #53534c;
    margin-top: -3%;
    margin-left: 26%;
}
.lign
{
    background-image: url("images/home_top_botm_bg.jpg");
    height: 20px;
    margin-top: 2.3%;
}
.beige
{
    background-image: url("images/home_about_bg.jpg");
    height: 660px;
    margin-top: 1%;
}
.beige_title
{
    font-family: 'bazarmedium';
    font-size: 70px;
    margin-left: 6%;
    margin-top: 2%;
    color: #4c4c4c;
    padding-top: 43px;
}
h2
{
    text-align: center;
    font-family: 'bazarmedium';
    font-size: 35px;
    color: #4c4c4c;
}
.sub_title
{
    text-align: center;
    font-family: 'bazarmedium';
    margin-top: -20px;
    font-size: 19px;
    color: #4c4c4c;
}
.logo_col
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
}
.logo_line
{
    width: 125px;
    height: 8px;
    margin: 0 auto;
    padding-top: 15px;
}
.txt_bot
{
    font-family: arial;
    font-size: 13px;
}
.one
{
    width: 197px;
}
.two
{
    width: 197px;
}
.three
{
    width: 207px;
}
.four
{
    width: 207px;
}
.lign_bot
{
    background-image: url("images/home_about_botm_bg.jpg");
    height: 23px;
    margin-top: 0.3%;
}
footer
{
    background-image: url("images/portfolio_bg.jpg");
    height: 80px;
    margin-top: 1.2%;
}
.footext
{
    text-align: center;
    padding-top: 34px;
    color: #fff;
    font-family: arial;
    font-size: 15px;
}
.foot_link
{
    text-decoration: none;
    color: #ffff;
}
.foot_link:hover
{
    color: #a4eacb;
}

.col {
    float: left;
    margin-right: 22px;
    display: grid;
    margin-top: -39px;

}
.col-4-12
{
    width: 221px;
}
.last {
    margin-right: 0 !important;
}
.clear
{
    clear: both;
}
