body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 1000px;
    height: 900px;
    margin: auto;
    margin-top: 20px;
}
header{
    width: 1000px;
    background-image: url("img/background_header.png");
    height: 150px;
}
.title {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    width: 500px;
    height: 50px;
    margin-top: 5px;
    margin-left: 20px;
    position: absolute;
}
.title_2 {
    font-family: 'Dosis', serif;
    font-size: 15px;
    width: 500px;
    height: 50px;
    margin-top: 70px;
    margin-left: 20px;
    position: absolute;
}
.logo-img {
    width: 120px;
    height: 120px;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
}
nav {
    background-color: black;
    width: 1000px;
    height: 50px;
    word-spacing: 50px;
    position: absolute;
}
ul li {
    font-family: 'Anton', sans-serif;
    margin-left: -20px;
    display: inline;

}
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #b0c4de;
}
.pic_top {
    background-color: white;
    width: 1000px;
    height: 400px;
}
.pic_top img {
    margin-top: 60px;
}
.img2 {
    float: right;
}
.txt_block {
    background-color: #b0c4de;
    width: 1000px;
    height: 300px;
    border: 1px;
}
.txt_block h1, .txt_block h2 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    margin-left: 35px;
    font-size: 70px;
    position: absolute;
}
.txt_block h1 {
    margin-top: 0px;
}
.txt_block h2 {
    margin-top: 70px;
    font-size: 78px;
}
.txt_block h3 {
    font-family: 'Dosis', serif;
    font-size: 10px;
    width: 220px;
    height: 30px;
    margin-left: 35px;
    margin-top: 180px;
    position: absolute;
}
.formulaire {
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    margin-left: 300px;
    position: absolute;
}
label
{
    display: block;
    width: 150px;
    float: left;
}
#txt_3 {
    font-family: 'Dosis', serif;
    font-size: 15px;
    width: 440px;
    height: 250px;
    margin-top: 25px;
    margin-left: 520px;
    position: absolute;
}
#txt_3:first-of-type:first-letter {
    float: left;
    font-size: 4.8em;
    padding: 0 30px 0 0;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
footer {
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Dosis', serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    height: 50px;
}