@font-face {
    font-family: 'Butterfly Waltz';
    src: url('font/Butterfly_Waltz.eot');
    src: url('font/Butterfly_Waltz.eot?#iefix') format('embedded-opentype'),
        url('font/Butterfly_Waltz.woff2') format('woff2'),
        url('font/Butterfly_Waltz.woff') format('woff'),
        url('font/Butterfly_Waltz.ttf') format('truetype'),
        url('font/Butterfly_Waltz.svg#Butterfly_Waltz') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
    background:#FFF; 
}
#wrapper{
    width:996px;
    margin:0 auto;
}
.clear{
    clear:both;
}
header{
    width:996px;
    background:#fff;
    margin:0 auto;
    height:200px;
}

header h1{
    float: left;
    margin-top: 48px;
    font-family: "Butterfly Waltz",sans-serif;
    font-size: 60px;
}
section h3{
    font-family: Tahoma, arial, sans-serif;
    font-size:35px;
}
section h4{
    font-family: Tahoma, arial, sans-serif; 
    font-size:25px;
    margin-top: -25px;
    font-style: italic;
}

/* NAVIGATION */

nav{
    color: #000;
    float:right;
    margin-top:150px;
    font-family:Tahoma, sans-serif;
    font-size:20px;
    height:40px;
    letter-spacing:0.5px;
    opacity: 0.7;
}
nav ul{
    list-style:none;
    margin:0px;
    padding:0;
}
nav ul li{
    margin-left:3px;
}
nav li{
    display:inline-block;
    padding: 0 30px 0 0;
}
nav ul li ul {
    display: none;

}
nav ul li ul li{
    display:block;
}
nav ul li ul{
    display:none;
}
nav ul li a{
    text-decoration:none;
}
nav ul li a:hover{
    color:#b6526f;
}
nav .current a{
    color:#b6526f!important;
}


.col1{
    float:left;
    margin-left:2px;
    width:300px;
}
.col1 h2{
    font-size:15px;
    background:#b6526f;
    padding:8px;
    text-align:center;
    color:#FFF;
}
.col1 p{
    font-size:13px;
    padding:8px;
    margin:4px;
    color:#999;
    display:inline-block;
    font-family: Tahoma, arial, sans-serif;
}
.col2{
    float:left;
    width:300px;
    margin-left:40px;
}
.col2 h2{
    font-size:15px;
    background:#99b89b;
    padding:8px;
    text-align:center;
    color:#FFF;
}
.col2 p{
    font-size:13px;
    padding:8px;
    margin:4px;
    color:#999;
    font-family: Tahoma, arial, sans-serif;
}
.col3{
    float:right;
    margin-right:2px;
    width:300px;
}
.col3 p{
    font-size:13px;
    padding:8px;
    margin:4px;
    color:#999;
    font-family: Tahoma, arial, sans-serif;
}
.col3 h2{
    font-size:15px;
    background:#d5b987;
    padding:8px;
    text-align:center;
    color:#FFF;
}
section{
    margin-top:600px;
}

section h3{
    text-align:center;
}
section h4{
    text-align:center;
}
.niv1{
    float:left;
    width:249px;
}
.niv1 p{
    color:#999;
    font-size:15px;
    padding:2px;
    font-family:Arial, Tahoma,sans-serif; 
    font-size:12px;
    
}
.niv2{
    float:left;
    width:249px;
    
}
.niv2 p{
    color:#999;
    font-size:15px;
    padding:2px;
    font-family:Arial, Tahoma,sans-serif; 
    font-size:12px;
}
.niv3{
    float:left;
    width:249px;
}
.niv3 p{
    color:#999;
    font-size:15px;
    padding:2px;
    font-family:Arial, Tahoma,sans-serif; 
    font-size:12px;
}
.niv4{
    float:left; 
    width:249px;
}
.niv4 p{
    color:#999;
    font-size:15px;
    padding:2px;
    font-family:Arial, Tahoma,sans-serif; 
    font-size:12px;
}

.picto{
    margin-left:75px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.txt-bot{
    margin-top: 0;
}
.slide{
    position:absolute;
    width:100%;
    left:0px;    
}
footer{
    height: 80px;
    margin: 0auto;
    background-color: #DCDCDC;
    margin-top: 50px;
}
.foot-txt{
    float:right;
    color:#999;
    font-family: Tahoma, arial, sans-serif;
    font-size: 10px;
    margin-top: 30px;
}
.footer-t{
    width: 996px;
    margin: 0 auto;
}